@import "~bootstrap/scss/bootstrap";
@import "~react-loading-skeleton/dist/skeleton.css";
@import "~react-toastify/dist/ReactToastify.css";

body {
  width: 100%;
  height: 100%;
}

.container {
  min-height: 250px;
}

.rounded-circle, .img-thumbnail {
  object-fit: cover !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.nav-tabs .nav-item .nav-link {
  color: gray;
}

.nav-tabs .nav-item .nav-link.active {
  color: black;
}

.tooltip-inner, .tooltip-main {
  color: white !important;
  background: #474E68 !important;
  font-size: 16px;
  max-width: 300px;
  padding: 10px !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #6B728E;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #6B728E;
}
.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #6B728E;
}
.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #6B728E;
}

.dropdown-item.active, .dropdown-item:active {
    color: rgb(35, 34, 34);
    background-color: darkgray;
}

.pagination > li > a
{
    background-color: white;
    color: black;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #6B728E !Important;
    border: solid 1px #474E68 !Important;
}

.pagination > .active > a:hover
{
    background-color: #474E68 !Important;
    border: solid 1px #474E68;
}

.read-or-hide{
  color: rgb(192,192,192);
  cursor: pointer;
}
